# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
ENV/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python test output
*.log

# Kubernetes config and secrets
clustros.yaml

# Misc
*.swp
*.swo
